body {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column-reverse;
  font-family: monospace;
}

button {
  margin: 20px 0;
  width: 150px;
  height: 50px;
  font-size: large;
  background: #0077fc;
  border: none;
}

span {
  font-weight: bold;
  font-size: 26px;
  color: black;
}

input {
    width: 200px;
    height: 30;
}
